<div class="comments">

    <!-- iterate over the comments array to show all comments for a post -->
    {{#each this}}
    <section class="comment">
        <div>
            By: {{user.username}} on {{created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}

</div>