<!-- List of user's books they want to read -->
<section class="container all-books-to-read">
  <h2>Books to Read</h2>
  <ol style="list-style-type: none;">
    {{#each booksToRender}}
    <li id="{{id}}" class="books-to-read-li">
      {{book_title}} by {{book_author}} <button name="book" class="add-book-btn" value="{{id}}">+</button>
    </li>
    {{/each}}
  </ol>
</section>

<script src="/javascript/add-a-book.js"></script>

