<section>
  <!-- hero image -->
  <img src="/images/Hero_Image_Books.jpeg" alt="row of books" width="100%">

  <!-- welcome message -->
  <p>Welcome to Bookworm! This is thee place to be on the Internet if you want to express your love, appreciation
    or excitement for all your favorite books and authors!</p>
  <p>Sign up to get started in the discussions! Your fellow bookworm-ers are waiting!</p>
</section>

<!-- Display all posts -->
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <!-- see partials/posts.handlebars -->
    {{> post-info post }}
  </li>
  {{/each}}
</ol>