<div class="row justify-content-around">
  <div class="col-sm-6 container">
    <form class="login-form container">
      <h2>Login</h2>
      <div>
        <label for="username">username:</label>
        <input type="text" id="username-login" />
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button class="login-btn" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="col-sm-6 container">
    <form class="signup-form container">
      <h2>Sign up</h2>
      <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button class="signup-btn" type="submit">Sign-up</button>
      </div>
    </form>
  </div>
</div>
<script src="/javascript/login.js"></script>