* {
    box-sizing: border-box;
    padding: 40;
    margin: 20;
  }

.nav-title {
  background-color: floralwhite;
  padding: 10px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: black;
  font-weight: lighter;
  font-size: 1.6em;
  border: 5px darkslategrey solid;
  border-radius: 15px;
}
.nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: center;
}
.login-link, .welcome, #comment-btn {
  background-color: floralwhite;
  padding: 5px 10px;
  border: 3px darkslategrey solid;
  color: darkred;
  border-radius: 5px;
}
.welcome {
  font-size: 1.2em;
  margin-bottom: 75px;
}
.thee {
  font-style: italic;
}
header {
  margin: 100px 20px;
}
body, html {
  background-image: url("/images/wood-bg.jpg");
  background-color: rgb(133, 103, 65);
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}
.hero {
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 75px;
}
h2 {
  color: rgb(116, 28, 28);
  font: bold;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(116, 28, 28);
  font-weight: bold;
  }
a:hover {
  color: rgb(116, 28, 28);
}

p {
  text-align: center;
  color: rgb(116, 28, 28);
  font-size:large;
}
button .btn {
  background-color: rgb(116, 28, 28);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(189, 4, 4);
}
#logout, #comment-btn {
  font-size: 1em;
  line-height: normal;
  font-weight: bold;
}
 
ul {
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  display: block;
  /* overflow: hidden; */
}

/* li {
  justify-content: center;
} */
.del-btn {
  width: 30px;
  color: red;
  font-weight: bolder;
  background-color: floralwhite;
  padding: 0 6px;
  font-size: 20px;
  margin-left: 10px;
}

.add-book-btn {
  color: green;
  font-weight: bolder;
  font-size: 20px;
  background-color: floralwhite;
  padding: 0 6px;
  margin-left: 10px;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
/* remove bullets from list */
.post-list {
  list-style: none;
}
/* Post Partials */
#post-container {
  background-color: floralwhite;
  border: 3px solid darkslategrey;
  border-radius: 10px;
  margin: 30px auto;
  padding: 10px;
}
#post-headline {
  font-size: 30px;
}
#post-author {
  font-size: 20px;
  color: rgb(116, 28, 28);
}
#post-user-created {
  font-style: italic;
}
#post-review {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 10px;
}
.new-post-form {
  background-color: floralwhite;
  text-align: inherit;
  height: fit-content;
  width: 500px;
  border: 3px solid darkslategrey;
  border-radius: 5px;
}
.new-post-form > * {
  margin: 5px 0;
}
.new-post-container {
  margin-top: 30px;
}
.book-cover {
  width: inherit;
  border: 3px solid darkslategrey;
}
.posttype-options {
  background-color: floralwhite;
  color: darkred;
  border-top: 3px solid darkslategrey;
  border-bottom: 3px solid darkslategrey;
  margin-bottom: 50px;
}
#book-exists-link {
  font-weight: bold;
  color: black;
}
.post-menu-row {
  height: 600px;
}
.all-books-to-read {
  color: darkred;
  text-align: center;
  font-weight: bold;
  width: fit-content;
}
.all-books-to-read > h2, .dash-books-to-read-h {
  border-bottom: 3px darkred solid;
  padding: 10px 150px;
  width: fit-content;
  margin: auto;
}
.all-books-to-read > ol {
  padding-top: 10px;
}
.dash-books-to-read-sec {
  width: fit-content;
}
.dash-books-to-read-h {
  color: darkred;
  font-weight: bold;
  margin-top: 20px;
}
#dash-book-list {
  padding-top: 10px;
  text-align: center;
  list-style-type: none;
  color: darkred;
  font-size: 20px;
}
.dash-books-list-item {
  padding: 2px 0;
}
.books-to-read-li {
  padding: 2px 0;
}
.dash-books-to-read-div {
  display: block;
  margin: auto;
  width: fit-content;
  text-align: center;
  padding: 15px;
}
.dash-books-to-read-div > a {
  color: black;
}
.create-menu-div, .all-books-to-read, .dash-books-to-read-div {
  background-color: navajowhite;
  border: 3px solid darkslategrey;
  border-radius: 10px;
  height: fit-content;
}
.create-menu-pic {
  border-radius: 10px;
  background-image: url("../images/book-on-grass.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#book-review {
  vertical-align: text-top;
}
.create-post {
  font-size: 1em;
  line-height: normal;
  font-weight: bold;
  background-color: floralwhite;
  padding: 5px 10px;
  border: 2px darkslategrey solid;
  color: darkred;
  border-radius: 5px;
}
.cover-container {
  display: flex;
  justify-content: center;
}

 /* Comments Partials */
 .comments {
  background-color: floralwhite;
  border: 1px solid floralwhite;
  border-radius: 10px;
  margin: 30px auto;
  padding: 10px;
  width: fit-content;
}
.comment {
  border-left: 3px solid rgb(116, 28, 28);
  padding-left: 10px;
}
/* single-post page */
.comment-form > * {
  text-align: center;
}
#comment-form-container {
  border-top: 7px solid darkslategrey;
}
#comment-form-container p {
  color: darkred;
  font-size: 20px;
  margin: 40px auto 10px;
  width: fit-content;
  padding: 10px;
  background-color: navajowhite;
  border-radius: 5px;
  font-weight: bold;
  border: 3px solid darkslategrey;
}
.comment-textarea {
  width: 700px;
}
footer {
  background-color: floralwhite;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  border: 3px solid darkslategrey;
  margin-top: 50px;
}